main {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    // background-color: rgb(124, 124, 124);
    // background-color: blur;
    //   height: 100%;
    //   max-width: 40vw;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem 4rem;

    h1 {
      font-size: bolder;
      color: rgb(133, 236, 201);
    }
    h2 {
      color: antiquewhite;
      margin-top: 1.5rem;
      font-weight: 200;
      font-size: 1.2rem;
      font-style: italic;
    }
    #form {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
      gap: 3vh;
      padding-top: 1rem;

      input {
        // background-color: forestgreen;
        width: 40vw;
        padding: 1.2rem 1.3rem;
        outline: none;
        border-radius: 1.2rem;
        border: none;
      }

      button {
        // background: #000;
        padding: 1.2rem 1.3rem;
        width: 100%;
        border-radius: 1.2rem;
        border: none;
        background-color: rgb(133, 236, 201);
        font-weight: 400;
        font-size: larger;
      }
      button:active {
        transform: scale(0.95);
      }
    }
  }
}
